body{
    background-color: chartreuse;
}
p{
    font-size: 50px;
    color: darkorange;
    background-color: white;
    display: block;
}
span{
    color: skyblue;
    border: dotted red 5px;
    display: inline-block;
}
li{
    background-color: fuchsia;
    display: inline-block;
    border: dashed 5px darkmagenta;
    font-size: 24px;
    padding: 5px 10px;
}
li:hover{
    background-color: antiquewhite;
    cursor: pointer;
}
ul{
    list-style: none;
}
#d1{
    background-color: khaki;
    font-size: 24px;
    width: 500px;
    height: 500px;
    border-style: double;
    border-width: 30px;
    border-color: fuchsia darkmagenta darkorchid purple;
    display: flex;
    align-items: center;
    justify-content: center;
}
#d2{
    width: 800px;
    height: 800px;
    border-style: double dotted dashed solid;
    border-width: 30px;
    border-color: fuchsia darkmagenta darkorchid purple;
    margin-top: 50px;
    border-radius: 5% 10% 15% 20%;
}
#d3,#d4{
    width: 900px;
    height: 150px;
    background-color: yellowgreen;
    margin: 50px;
    border-width: 30px;
}
#d3{
    border-style: ridge none;
    border-color: tomato;
}
#d4{
    border-style: groove;
    border-color: greenyellow;
}
#d5{
    background-color: white;
    height: 400px;
    width: 400px;
    border-style: double 30px;
    border-color: yellow blue;
    margin: 40px;
}